{{#partial "interface"}}

<h1>Interface List</h1>
{{#if devices}}
<form action="/interface/new" method="post">
        <label for="output">Select your output device:</label>
        <select id="output" name="output">
            {{#each devices}}
            <option value="{{@index}}">{{this}}</option>
            {{/each}}
        </select>
    <button type="submit" class="btn btn-danger">Select Device</button>
</form>
{{else}}
    <p>There ore no connected devices</p>
{{/if}}



{{/partial}}

{{> layout.hbs}}