<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}MIDI Sequencer{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>

<body>
<h1>Your selected output device: {{chosen}}</h1>
<h1>Sequence Length: {{length}} Steps</h1>
<h1>Sequence Tempo: {{bpm}} BPM</h1>

<button class="bottom"><a href="/steps/edit">Edit Step Length and BPM</a></button>
<button class="bottom"><a href="/interface/edit">Edit MIDI Output Device</a></button>
<button class="bottom"><a href="/notes/edit">Edit Note Sequence</a></button>
      {{#block "interface"}}
      {{/block}}


      <!--{{#block "steps"}}-->
      <!--{{/block}}-->

    <!--<div class="container">-->

        <!--{{#block "notes"}}-->
        <!--{{/block}}-->
    <!--</div>-->


{{#block "footer"}}

</body>
</html>
{{/block}}