<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
{{#block "interface"}}
{{/block}}
{#block "stepsNumber"}}
{{/block}}
<div class="container">

    {{#block "notes"}}
    {{/block}}
</div>
</div>

{{#block "footer"}}
</body>
</html>
{{/block}}