{{#partial "interface"}}

<form action="/notes" method="post">

<label for="note1chan">Note 1 Channel (1-16)</label>
<input id="note1chan" name="newCategoryName" type="range" max="16" min="6" step="1" value="{{x}}">
<label for="note1pitch">Note 1 Pitch(0-127)</label>
<input id="note1pitch" name="newCategoryName" type="range" max="127" min="0" step="1" value="{{xx}}">
<label for="note1vel">Note 1 Velocity(0-127)</label>
<input id="note1vel" name="newCategoryName" type="range" max="127" min="0" step="1" value="{xxx}}">
<label for="note1gate">Note 1 Gate(ms)</label>
<input id="note1gate" name="newCategoryName" type="range" max="127" min="0" step="1" value="{{xxxx}}">
    <button type="submit" class="btn btn-danger">Implement Sequence</button>
</form>
{{/partial}}

{{> layout.hbs}}