{{#partial "steps"}}
<form action="/steps" method="post">
    <label for="steps">Select your sequence length in steps:</label>
    <input name="steps" id="steps" type="range" min="1" max="16" step="1">
    <button type="submit" class="btn btn-danger">Select Device</button>
</form>
{{/partial}}

{{> interface.hbs}}